@import url('./main-layout.css');
@import url('./views/home-view.css');    html {
      --lumo-size-xl: 3rem;
      --lumo-size-l: 2.5rem;
      --lumo-size-m: 2rem;
      --lumo-size-s: 1.75rem;
      --lumo-size-xs: 1.5rem;
      --lumo-space-xl: 1.875rem;
      --lumo-space-l: 1.25rem;
      --lumo-space-m: 0.625rem;
      --lumo-space-s: 0.3125rem;
      --lumo-space-xs: 0.1875rem;
      --lumo-primary-color-50pct: rgba(19, 170, 161, 0.5);
      --lumo-primary-color-10pct: rgba(19, 170, 161, 0.1);
      --lumo-success-color-50pct: rgba(32, 84, 157, 0.5);
      --lumo-success-color-10pct: rgba(32, 84, 157, 0.1);
      --lumo-primary-color: rgb(19, 170, 161);
      --lumo-primary-text-color: rgb(32, 84, 157);
      --lumo-success-color: rgb(32, 84, 157);
      --lumo-success-text-color: rgb(32, 84, 157);
      --lumo-base-color: rgb(255, 255, 255);

    }
